html {
  box-sizing: border-box;
}

body {
  font-family: "나눔 고딕", NanumGothic, "돋움", Dotum, sans-serif;
  margin: 0;
}

h3,
h4,
p {
  margin: 0;
}

ol,
ul,
li,
details {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* blind class */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}
